# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# DATABASE_URL="postgresql://dhruvsharma:dhruvsharma@postgres:5432/todo_list"
PORT=4000
# DATABASE_URL="postgresql://dhruvsharma:dhruvsharma@postgres:5432/menu-assignment"
DATABASE_URL="postgresql://menu_assignment_user:cbtLvADGfqxkzXlElmOlT9DRKSsIDo6Z@dpg-ctqjq4ggph6c73ckqp10-a.oregon-postgres.render.com/menu_assignment"

POSTGRES_USER=dhruvsharma
POSTGRES_PASSWORD=dhruvsharma
POSTGRES_DB=menu-assignment